# KiCad temporary / backup / autosave files
*-backups/
*.kicad_pcb-bak
*.kicad_sch-bak
*.bak
*.kicad_prl
fp-info-cache
~*.lck
*.tmp
_autosave-*
*-save.kicad_pcb
*-save.kicad_sch

# KiCad generated output
*.net
/gerbers/
/production/

# Editor / IDE history
.history/

# OS files
.DS_Store
Thumbs.db
